@layout EmptyLayout
@page "/openinghours"
@using Bulldog.Core.Domain
@using Bulldog.Infrastructure.Services.DTO
@using BulldogApiFrontend.Services
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt
@using BulldogApiFrontend.Services.IServices
@inject IServiceApiService ServiceApiService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService UserService

<div class="ma-6 d-flex flex-column align-items-center">
    <div>
        @if (availableDates != null && availableDates.Any())
        {
            <MudTable Items="@availableDates" T="AvailableDateDto" Elevation="3">
                <HeaderContent>
                    <MudTh>Dzień</MudTh>
                    <MudTh></MudTh>
                    <MudTh>Otwarcie</MudTh>
                    <MudTh>Zamknięcie</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.DayOfWeek</MudTd>
                        <MudTd>
                            <MudSwitch @bind-Value="@context.IsOpen" Color="Color.Primary" />
                        </MudTd>
                        @if (@context.IsOpen)
                    {
                        <MudTd>
                            <MudSelect T="TimeSpan" @bind-Value="@context.WorkingHours.StartTime">
                                @foreach (var timeSpanValue in hoursList)
                                {
                                    var timeString = timeSpanValue.ToString("hh\\:mm");
                                    <MudSelectItem Value="@timeSpanValue" Selected="@IsHourSelected(timeSpanValue, @context.WorkingHours.StartTime)">@timeString</MudSelectItem>
                                }
                            </MudSelect>
                        </MudTd>
                        <MudTd>
                            <MudSelect T="TimeSpan" @bind-Value="@context.WorkingHours.EndTime">
                                @foreach (var timeSpanValue in hoursList)
                                {
                                    var timeString = timeSpanValue.ToString("hh\\:mm");
                                    <MudSelectItem Value="@timeSpanValue" Selected="@IsHourSelected(timeSpanValue, @context.WorkingHours.EndTime)">@timeString</MudSelectItem>
                                }
                            </MudSelect>
                        </MudTd>
                    }
                    else
                    {
                        <MudTd>
                            <MudSelect T="TimeSpan" @bind-Value="@context.WorkingHours.StartTime" Disabled="true">
                                @foreach (var timeSpanValue in hoursList)
                                {
                                    var timeString = timeSpanValue.ToString("hh\\:mm");
                                    <MudSelectItem Value="@timeSpanValue" Selected="@IsHourSelected(timeSpanValue, @context.WorkingHours.StartTime)">@timeString</MudSelectItem>
                                }
                            </MudSelect>
                        </MudTd>
                        <MudTd>
                            <MudSelect T="TimeSpan" @bind-Value="@context.WorkingHours.EndTime" Disabled="true">
                                @foreach (var timeSpanValue in hoursList)
                                {
                                    var timeString = timeSpanValue.ToString("hh\\:mm");
                                    <MudSelectItem Value="@timeSpanValue" Selected="@IsHourSelected(timeSpanValue, @context.WorkingHours.EndTime)">@timeString</MudSelectItem>
                                }
                            </MudSelect>
                        </MudTd>
                    }
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <MudText>Brak dostępnych dat.</MudText>
        }
    </div>
    <div class="mt-3">
        <MudCardActions Class="justify-content-center">
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" Style="width:370px" OnClick="SaveAvailability">Save</MudButton>
        </MudCardActions>
    </div>
</div>





@code {

    IList<AvailableDateDto> availableDates = new List<AvailableDateDto>();
    private List<TimeSpan> hoursList;
    private string selectedStartTime { get; set; } = "11:00";
    private string selectedEndTime { get; set; } = "19:00";
    private bool Mode = true;
    private Guid EmployeeId;
    private string UserId;

    protected override async Task OnInitializedAsync()
    {
        var jwtToken = await AuthenticationService.GetJwtAsync();
        if (!string.IsNullOrEmpty(jwtToken))
        {
            UserId = GetIdFromToken(jwtToken);
        }


        var employee = await ServiceApiService.GetByUserIdAsync(UserId);
        EmployeeId = employee.Id;
        hoursList = GetHoursList();
        await LoadAvailableDates(employee.Id);
        availableDates = availableDates.OrderBy(x => x.DayOfWeek).ToList();
    }

    private string GetIdFromToken(string token)
    {
        var jwt = new JwtSecurityToken(token);
        return jwt.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value;
    }

    private async Task LoadAvailableDates(Guid Id)
    {
        availableDates = await ServiceApiService.GetAvailableDates(Id);

        if (availableDates == null || !availableDates.Any())
        {
            Mode = false;
            availableDates = new List<AvailableDateDto>();
            foreach (DayOfWeek dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
            {
                availableDates.Add(new AvailableDateDto
                    {
                        Id = Guid.NewGuid(),
                        DayOfWeek = dayOfWeek,
                        EmployeeId = Id,
                        IsOpen = true,
                        WorkingHours = new WorkingHours(TimeSpan.Parse(selectedStartTime), TimeSpan.Parse(selectedEndTime)),
                        Breaks = new List<Break>(),
                    });
            }
        }
    }

    private static List<TimeSpan> GetHoursList()
    {
        var hoursList = new List<TimeSpan>();

        for (int hours = 0; hours < 24; hours++)
        {
            for (int minutes = 0; minutes < 60; minutes += 15)
            {
                var time = new TimeSpan(hours, minutes, 0);
                hoursList.Add(time);
            }
        }

        return hoursList;
    }



    private bool IsHourSelected(TimeSpan optionValue, TimeSpan selectedTime)
    {
        return optionValue == selectedTime;
    }


    private async Task SaveAvailability()
    {
        try
        {
            if (Mode == false)
            {
                await ServiceApiService.AddAvailabilityDates(EmployeeId, availableDates);
                await UserService.UpdateUserIsConfigured(UserId, true);
                NavigationManager.NavigateTo("/");
                Snackbar.Add("Opening hours saved", Severity.Success);
            }
            else
            {
                await ServiceApiService.UpdateAvailabilityDates(EmployeeId, availableDates);
                await UserService.UpdateUserIsConfigured(UserId, true);
                NavigationManager.NavigateTo("/");
                Snackbar.Add("Opening hours saved", Severity.Success);

            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in opening hours: {ex.Message}");
        }
    }
}
